
.icon-home:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-floppy:before { content: '\e805'; } /* '' */
.icon-floppy-1:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-upload:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-login-1:before { content: '\e80b'; } /* '' */
.icon-logout-1:before { content: '\e80c'; } /* '' */
.icon-attach:before { content: '\e80d'; } /* '' */
.icon-folder-open:before { content: '\e80e'; } /* '' */
.icon-wrench:before { content: '\e80f'; } /* '' */
.icon-ok-circle:before { content: '\e810'; } /* '' */
.icon-eye-1:before { content: '\e811'; } /* '' */
.icon-cog-alt:before { content: '\e812'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
