.section {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.about-us-main-section {
    background-color: var(--color-tertiary);
}

.row-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row-text p {
    max-width: 1000px;
}

.cards {
    z-index: -1;
    display: grid;
    /* Only place 2 cards per row*/
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card {
    flex-direction: row;
    padding: 1rem 4rem 1rem 1rem;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card>div {
    text-align: left;
}

/* CONTACT US FORM */
.contact-us-section {
    padding: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}