.registration-form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: initial;
    text-align: initial;
    max-width: 700px;
}
form .form-heading-text{
    text-align: center;
    color: #523e008e;
}
form .notice-normal{
    background-color: var(--color-tertiary);
    text-align: center;
    color: var(--color-secondary);
    border-radius: 5px;
    padding: 1rem;
}

form .selections{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

form .row-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

form button{
    font-size: 1rem;
}