:root {
    /* COLORS */
    /* --color-primary: #FFC100;
    --color-secondary: #523E00;
    --color-tertiary: #FFFDED;
    --color-light: #FFFFFF;
    --color-danger: #EB5757;
    --color-low: #523e0060; */

    --color-primary: #FFB400;
    --color-secondary: #2D4059;
    --color-tertiary: #FFFBF0;
    --color-light: #FFFFFF;
    --color-danger: #EA5455;
    --color-low: #595761;

    --font-size-title: 6rem;
    --font-size-sub-title: 1.5rem;
    --font-size-text: 1.1rem;
    --font-size-logo-small: 3rem;
    --font-size-logo-large: 4rem;
    --font-size-label: 1rem;

    --btn-border-radius: 30px;
    --btn-padding: 0.6rem 2rem;

    /* --card-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
    --card-box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    --card-border-radius: 15px;

}

/* FONTS */
@font-face {
    font-family: bebasneue-regular;
    src: url(../fonts/bebasneue-regular.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular.ttf);
}
/* TEXT */
h1 {
    font-family: bebasneue-regular, Impact, 'Arial Narrow Bold', sans-serif;
    font-size: var(--font-size-title);
    color: var(--color-secondary);
    text-transform: uppercase;
    line-height: 0.9;
}

h2 {
    font-family: poppins-regular, Arial, Helvetica, sans-serif;
    font-size: var(--font-size-sub-title);
    color: var(--color-secondary);
    text-transform: uppercase;
}

h3 {
    font-family: poppins-regular, Arial, Helvetica, sans-serif;
    font-size: var(--font-size-label);
    color: var(--color-low);
}

hr {
    border: solid 2px #eaeaea;
    width: 25%;
    height: 0.5;
}

p,
a,
input,
label {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: var(--font-size-text);
    color: var(--color-secondary);
}

.txt-color-primary {
    color: var(--color-primary);
}

.txt-color-danger {
    color: var(--color-danger);
}

.remove-item{
    display: none !important;
}

.show-item{
    display: block;
}

/* BUTTONS */
.btn-primary {
    padding: var(--btn-padding);
    color: var(--color-light);
    border: solid 4px var(--color-primary);
    background-color: var(--color-primary);
    border-radius: var(--btn-border-radius);
    text-align: center;
    font-weight: bold;
    transition: ease-in-out 0.2s;

    display: flex;
    justify-content: center;
}

.btn-primary:hover {
    border: solid 4px var(--color-primary);
    background-color: var(--color-light);
    color: var(--color-primary);
    transition: ease-in-out 0.2s;
}

.btn-secondary {
    text-align: center;
    padding: var(--btn-padding);
    color: var(--color-primary);
    border-radius: var(--btn-border-radius);
    border: 4px solid var(--color-primary);
    transition: ease-in-out 0.2s;
    font-weight: bold;

    display: flex;
    justify-content: center;
}

.btn-secondary:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
    transition: ease-in-out 0.2s;
}

.btn-danger {
    padding: var(--btn-padding);
    color: var(--color-light);
    border: solid 4px var(--color-danger);
    background-color: var(--color-danger);
    border-radius: var(--btn-border-radius);
    text-align: center;
    font-weight: bold;
    transition: ease-in-out 0.2s;

    display: flex;
    justify-content: center;
}

.btn-danger:hover {
    background-color: #ed6868;
    ;
    color: var(--color-light);
    transition: ease-in-out 0.2s;
}

.normal-information {
    padding: var(--btn-padding);
    color: rgba(45, 64, 89, 0.8);
    border: solid 2px rgba(45, 64, 89, 0.2);
    background-color: transparent;
    border-radius: var(--btn-border-radius);
    text-align: center;
    font-weight: bold;
    transition: ease-in-out 0.2s;

    display: flex;
    justify-content: center;
}

/* Profile Picture */
.profile-picture-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 4px rgba(255, 179, 0, 0.5);
}

.profile-picture-medium {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture-large {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
}

.logo-small {
    width: 70px;
    padding: 1rem;
}

.logo-large {
    width: 120px;
    padding: 1rem;
}

.logo-s>h1 {
    font-size: var(--font-size-logo-small);
    color: var(--color-primary);
}

.logo-l>h1 {
    font-size: var(--font-size-logo-large);
    color: #F6F6F6 !important;
}

/* SECTION */
.section {
    display: flex;
    padding: 4rem 0;
}

/* CARD */
.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* FORM COMPONENTS */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    min-width: 600px;
    accent-color: var(--color-primary);
}

form .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group label {
    font-weight: bold;
}

input,
textarea {
    padding: 1rem;
    border: solid 2px #523e0030;
    border-radius: 0.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea {
    resize: none;
    font-size: var(--font-size-text);
    color: var(--color-secondary);
}

input:focus,
textarea:focus {
    border: solid 2px var(--color-primary);
}

form button {
    border: none;
    width: 100%;
    border: 4px solid var(--color-primary);
    transition: ease-in-out 0.2s;
}

form button:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--color-primary);
    border: 4px solid var(--color-primary);
    transition: ease-in-out 0.2s;
}

form .txt-color-danger {
    font-size: 1.2rem;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #FFB400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}