.navbar-shadow{
    position: sticky;
    top: 0px;
    background-color: var(--color-light);
    box-shadow: var(--card-box-shadow);
    z-index: 2;
}

header > .container{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .btn-primary{
    color: var(--color-light);
    background-color: var(--color-primary);
    border: solid 4px var(--color-primary);
    transition: ease-in-out 0.2s;
}

header .btn-primary:hover{
    color: var(--color-primary);
    background-color: var(--color-light);
    border: solid 4px var(--color-primary);
    transition: ease-in-out 0.2s;
}
header .login-link{
    transition: ease-in-out 0.2s;
}

header .login-link:hover{
    color: var(--color-primary);
    transition: ease-in-out 0.2s;
}