/* .title-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    background-color: var(--color-primary);
} */

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.column-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
}